:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-width: 100vw;
  min-height: 100vh;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  /* overflow: hidden; */
}


body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.propic {
  border-radius: 25%;
   height: 800px;
  /*width: 600px; */
  border-style: 2px solid white;
}

.headerbg {
  background-image: url('../assets/headerBG.png');
}

.footer {
  background-color: lightblue;
  text-decoration: none;
}

.footimg {
  width: 200px;
  height: 200px;
}

.contact {
  height: 70vh;
}

.about {
  border-bottom: 1px solid lightblue;
}

.title {
  font-family: 'Bitter', serif;
}

.abttext {
  font-family: 'Barlow Condensed', sans-serif;
}

.foottext {
  font-family: 'Bitter', serif;
}

.navb {
  background-color: lightblue;
}